extends layout

block content
	block post_form

	h1 Message Board

	if user && user.admin
		h3 Hoo

	if user
		form(method='POST' action='').create
			div.form-group
				label(for='post_title') Title:
				input#post_title.form-control(type='text' placeholder='Message Title' name='post_title' required='true' value=(undefined===post ? '' : post.post_title))
			
			div.form-group
				label(for='post_message') Message:
				textarea#post_message.form-control(placeholder='Type your message...' name='post_message' required='true' rows=5 value=(undefined===post ? '' : post.post_message))


			div.form-group
				button.btn.btn-primary(type='submit') Submit
		
		if errors
			ul
			for error in errors
				li!= error.msg

	if post_list
			each post in post_list
				div.post
					.post-title= post.title 
					.post-message=post.message 
					.post-meta 
						p by #{user ? post.user.username : 'Anon'}
						p #{post.creation_date}
					if user && user.admin
						form(method='POST' action='/delete').delete-form
							input(type='hidden' name='post_id' value=post.id)
							button.btn.btn-primary(type='submit') Delete


	else 
		h2 There are no posts to display!

